<div>
    <div>QUIZ MAKER</div>

    <ng-container *ngIf="categories; then content else loading"/>
</div>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>

<ng-template #content>
    <select #categorySelect id="categorySelect" name="categories" (change)="onCategorySelected(categorySelect.value)">
        <option *ngFor="let category of categories.trivia_categories" [value]="category.id">{{ category.name }}</option>
    </select>

    <select #difficultySelect id="difficultySelect" name="difficulties" (change)="onDifficultySelected(difficultySelect.value)">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{ difficulty }}</option>
    </select>

    <button id="createBtn" (click)="createQuiz()">Create</button>
</ng-template>
