.answer {
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    background-color: white;
}

.selectedAnswer {
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
}
