.answer {
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    background-color: white;
}

.answer-hover-effect:hover {
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
}

.selectedAnswer {
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
}

.wrongAnswer {
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    background-color: red;
}
