.another {
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: gray;
}

.good-score {
  color: black;
  background-color: green;
}

.okay-score {
  color: black;
  background-color: yellow;
}

.bad-score {
  color: black;
  background-color: red;
}

.loading-score {
  color: black;
  background-color: black;
}
